 body {
  margin: 0;
  padding: 0;
}

h2, p {
  margin: 10px;
}

ul {
  list-style-type: none;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  background-color: #faa6a6;
}

ul li {
  float: left;
  border-right:1px solid #bbbbbb;
}

ul li:last-child {
  border-right: none;
}

ul li a {
  display: block;
  color: rgb(2, 2, 2);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover:not(.active) {
  background-color: #742d0c;
}

ul li a.active {
  background-color: #fdfaf1;
}

h2{
    background-color: beige;
    font-family: cursive;
    
    
}

h4{
  background-color: rgb(148, 231, 213);
  font-family: cursive ;
  font-size: large;
}

ol li a {
  color: black;
  background-color: bisque;
  font-family: 'Times New Roman', Times, serif;
  font-size: x-large;
}

ol li{
  background-color: bisque;
  font-size: xx-large;
}

h5{
  font-size: x-large;
  font-family: 'Times New Roman', Times, serif;
  background-color: darkseagreen;
}

h6{
  font-size: x-large;
}